.mid {
  display: block;
  text-align: center;
}
.flex {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.back {
  margin-right: 12px;
  float: right;
  text-align: center;
  width: max-content;
}
.logout {
  width: 80%;
  margin-left: 10%;
  border-color: red;
}
.footer {
  /* position: fixed;
  left: 0;
  bottom: 2%; */
  width: 100%;
  text-align: center;
}
.middle {
  margin-left: 10%;
  margin-right: 10%;
}
.margin {
  margin-top: 25px;
}
.alert {
  color: red;
  font-size: smaller;
}

/* the pop up */
.white-popup {
  position: relative;
  background: #fff;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

.mfp-move-horizontal {
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s;

    transform: translateX(-50px);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateX(0);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: translateX(50px);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}
